Package: xentaos-keyring-2019-12
Source: xentaos-keyring
Version: 2019.12.24
Architecture: all
Maintainer: Dindin Hernawan (Xenta OS) <dindin_hernawan@yahoo.com>
Installed-Size: 14
Depends: gnupg (>= 1.0.6-4)
Section: misc
Priority: important
Homepage: https://github.com/xentaoslinux/xentaos-keyring
Description: Paket Kunci GnuPG untuk Mengakses Repository.
 Repositori Xenta OS secara digital menandai file Release-nya.
 Paket ini berisi kunci repositori yang digunakan untuk itu.
