Source: xentaos-keyring
Section: misc
Priority: important
Maintainer: Dindin Hernawan (Xenta OS) <dindin_hernawan@yahoo.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7
Homepage: https://github.com/xentaoslinux/xentaos-keyring
Vcs-Browser: https://github.com/xentaoslinux/xentaos-keyring.git

Package: xentaos-keyring
Architecture: all
Depends: gnupg (>= 1.0.6-4)
Description: Paket Kunci GnuPG untuk Mengakses Repository.
 Repositori Xenta OS secara digital menandai file Release-nya.
 Paket ini berisi kunci repositori yang digunakan untuk itu.
