Source: xentaos-keyring
Section: misc
Priority: important
Maintainer: Dindin Hernawan (Xenta OS) <root@dev.xentaos.org>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://github.com/xentaos/xentaos-keyring
Vcs-Browser: https://github.com/xentaos/xentaos-keyring.git

Package: xentaos-keyring-2018-12
Architecture: all
Depends: gnupg (>= 1.0.6-4)
Description: Paket Kunci GnuPG untuk Mengakses Repository.
 Repositori Xenta OS secara digital menandai file Release-nya.
 Paket ini berisi kunci repositori yang digunakan untuk itu.
